:root {
    --bz-header_my_contact_h: 4rem;
    --bz-header_contact_active_h: 4rem;
    --bz-banner_notify_h: 4rem;
    --bz-searchbar_chat_h: 4rem;
    --bz-input_mex_h: 4rem;
    --bz-py-body: 2rem;
    --bg-gray_bg: #dadbd3;
    --bg-gray_header: #eaeaea;
    --bg-gray_selected: #e9ebeb;
    --bg-gray_bar: #f3eeea;
    --bg-gray_icon: #b1b1b1;
    --bg-blue_banner: #8EDAFC;
}

body {
    overflow: hidden;
    background: linear-gradient(#009688 0%, #009688 15%, var(--bg-gray_bg) 15%, var(--bg-gray_bg) 100%);
    padding: var(--bz-py-body) 0;
}

i {
    color: var(--bg-gray_icon);
}

.bg_gray_header {
    background-color: var(--bg-gray_header);
}

.bg_gray_bar {
    background-color: var(--bg-gray_bar);
}

.boolzap_window {
    height: calc(100vh - 2* var(--bz-py-body));
    overflow: hidden;
}

.header_my_contact {
    height: var(--bz-header_my_contact_h);
}

.header_contact_active {
    height: var(--bz-header_contact_active_h);
}

.banner_notify {
    height: var(--bz-banner_notify_h);
}

.chat_list {
    height: calc(100vh - var(--bz-header_my_contact_h) - var(--bz-banner_notify_h) - var(--bz-banner_notify_h));
    overflow-y: auto;
}

.chat {
    height: calc(100vh - var(--bz-header_contact_active_h) - var(--bz-input_mex_h) - 2* var(--bz-py-body));
    overflow-y: auto;
    background-image: url(../img/mine.jpg);
}

.searchbar_chat {
    height: var(--bz-searchbar_chat_h);
}

.input_mex {
    height: var(--bz-input_mex_h);
}

.contact_info {
    height: 100%;
}

.header_my_contact i {
    font-size: 1.5rem;
}

.circle_tag {
    /* adv: the target gets the size of the parent */
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

.contact_name {
    font-weight: bold;
}

.bg_blue {
    background-color: var(--bg-blue_banner);
}

.color_blue {
    color: var(--bg-blue_banner);
}

.centre_fix {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.contact_chat {
    height: 4rem;
}

.mex {
    padding: 0.5rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    width: 40%;
}

.mex_my {
    align-self: end;
    background: #d5f9ba;
}

.mex_contact {
    background: rgb(255, 255, 255);
}